/* Todo Animation on background  */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradienthead {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.homeBody{
	background: linear-gradient(-45deg,#1c4855,  #1C4755,#03776b,#448d68);
	background-size: 800% 800%;
	animation: gradient 10s ease infinite;
	padding: 90px 130px;
	display: flex; 
	flex-direction: row;
	justify-content: space-around;
	/* flex-wrap: wrap; */
}

.textBig {
	font-family: var(--cursive);
	font-size: 130px;
	color: whitesmoke;
}

.kid {
	/* Todo : Make it responsive */
	width: 35em; 
}

.head {
	/* color: var(--green); */
	/* color : linear-gradient(-45deg, #1c4855, #1C4755,#03776b,  #75c79e); */
	font-family: var(--serif);
	font-size: 40px;
	/* animation: gradienthead 15s ease infinite; */
	margin-bottom: 0;
}