/* Todo Animation on background  */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.homeBody {
  background: linear-gradient(-45deg, #1c4855, #1c4755, #03776b, #448d68);
  background-size: 800% 800%;
  animation: gradient 10s ease infinite;
  /* padding: 90px 130px; */
  padding: 10vh 6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.textBig {
  font-family: var(--cursive);
  font-size: 130px;
  color: whitesmoke;
  flex-grow: 1;
}

.kid {
  width: 50%;
  flex-grow: 2;
}

.head {
  font-family: var(--serif);
  font-size: 40px;
  margin-bottom: 0;
}

/*mobile css*/
@media only screen and (max-width: 660px) {
  .textBig {
    font-size: 100px;
    text-align: center;
  }

  .textBig small {
    font-size: 50px;
  }

  .kid {
    width: 100%;
  }
}
