@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  /* fonts */
  /* programming fonts: monaco, menlo,consolas,courier new, firacode,source code pro, code light  */

  --cursive: "Londrina Shadow", cursive;
  --serif: "Arvo", serif;
  --sans: "Varela Round", sans-serif;

  /* colors */
  --main-bg-color: whitesmoke;

  --light-blue: #96ceb4;
  --light-green: #88d8b0;

  /* Color palette */
  --green: #00a08f;
  --blue: #1c4755;
}

*,
html {
  margin: 0;
  padding: 0;
}
