.code-area {
  padding-top: 80px;
  font-family: var(--serif);
}

.code-task-iframe {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.code-task-iframe .task-iframe {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.code-task-iframe .task-iframe h4 {
  width: 500px;
}

.blob{
  width: 27%;
  position : absolute;
  top : -70px;
  right : 95px;
  overflow : hidden;
  z-index : -3;
  transform: rotate(10deg);
}

.blob2{
  /* width: 50%; */
  position : absolute;
  overflow : hidden;
  z-index : -3;
  right: 250px;
  bottom: 30px;
}