.code-area {
  padding-top: 80px;
  font-family: var(--serif);
}

.code-task-iframe {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.code-task-iframe .task-iframe {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.code-task-iframe .task-iframe h4 {
  width: 300px;
}

.blob1{
  width: 80%;
  position : fixed;
  overflow : hidden;
  z-index : -3;
  /* right: -250px; */
  bottom : -350px;
  left : -150px;
  transform: rotate(100deg);
}

.blob2{
  width: 62%;
  position : fixed;
  top : -350px;
  right : 0px;
  overflow : hidden;
  z-index : -3;
  transform: rotate(260deg);
}

@media only screen and (max-width:900px) and (min-width:650px) {
  .blob2 {
    width: 82%;
    top : -100px;
    right : -100px;
    overflow : hidden;
    z-index : -3;
    transform: rotate(180deg);
  }
}

@media only screen and (max-width:650px) and (min-width:500px) {
  .blob2 {
    width: 82%;
    top : -100px;
    right : 0px;
    overflow : hidden;
    z-index : -3;
    transform: rotate(180deg);
  }

  .blob1 {
    display: none;
  }
}

@media only screen and (max-width:500px) {
  .blob2 {
    width: 102%;
    top : -100px;
    right : 20px;
    overflow : hidden;
    z-index : -3;
    transform: rotate(180deg);
  }

  .blob1 {
    display: none;
  }
}