.dashboard-page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#dashboard-bg {
  position: fixed;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: -3;
}
