.headerBody {
  padding: 0 5%;
  background-color: transparent;
  margin: 2% 1% 0 0;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
}

.linkText {
    margin: 0 5px;
  text-decoration: none;
  color: whitesmoke;
  font-family: var(--serif);
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 40px;
  padding: 8px 15px;
}
